.nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #262a2b;
}
#demo-simple-select-label{
    color:white
}
.links{
    display: flex;
    flex-direction: row;
    gap:20px;
    width: 25%;
    margin-left: 2.5%;
    align-items: center;
}
.favicon{
    width:45px;
    height:auto
}
.delicon{
    margin-top: 10px;
    margin-right: 5px;
    width: 30px;
    height: auto;
    filter: invert(96%) sepia(5%) saturate(18%) hue-rotate(213deg) brightness(104%) contrast(100%);
}
.delicon:hover{
    cursor: pointer;
}

.links a{
    text-decoration: none;
    color: #09bcc5;
}
.search{
    display: flex;
    flex-direction: row;
    float: right;
    justify-content: center ;
    align-items: center;
    margin-right: 2.5%;
}
.searchbar{
    width: 500px;
    height: 40px;
    border-radius: 5px;
}
.searchbar::placeholder{
    font-size: 24px;
}
.searchbar:focus{
    box-shadow: 3px 3px 0 0 grey;
    outline: none;
}
input[type="text"]
{
    font-size:24px;
}
#select svg{
    color:white;

}